* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.profile {
    text-align: center;
    margin-top: 25px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none; 
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.avatar {
    width: 80px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
}

.linksList {
    list-style: none;
    text-align: center;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.linksList li {
    margin: 10px 20px;
}

.linksList li:last-child {
    margin-bottom: 50px;
}

.linksList li a { 
    background: white;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.linksList li a span {
    color: rgb(49, 49, 49);
    display: block;
    margin-top: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center; /* Centraliza as imagens verticalmente */
}

.carousel-images img {
    flex-shrink: 0;
    max-width: 100%; /* Garante que a largura da imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}